.upgrade {
    display: inline-block;
    border: 1px solid black;
    width: 400px;
    height: 110px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

.upgrade .image {
    float:left;
    padding: 28px;
    padding-bottom: 58px;
    width: 24px;
    height: 24px;
}

.upgrade .image.big {
    width: 48px;
    height: 48px;
    padding: 16px;
    padding-bottom: 46px;
}

.upgrade .name {
    font-size: 18px;
    padding-left: 4px;
}

.upgrade .quote {
    font-size: 12px;
    font-style: italic;
}