#upgrades {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#upgrades li {
    display: inline-block;
    border: 1px solid black;
    width: 400px;
    height: 115px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

#upgrades li .image {
    float:left;
    padding: 28px;
    padding-bottom: 58px;
    width: 24px;
    height: 24px;
}

#upgrades li .image.big {
    width: 48px;
    height: 48px;
    padding: 16px;
    padding-bottom: 46px;
}

#upgrades li .name {
    font-size: 18px;
    padding-left: 4px;
}

#upgrades li .quote {
    font-size: 12px;
    font-style: italic;
}